@font-face {
	font-family: 'Avenir.ttc';
	src: url('../fonts/Avenir.ttc') format('truetype');
}

/***************** PAGE STARTS ***************/

body {
    font-family: 'Mada', sans-serif;
    color: #58585b;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

#container {
    max-width: 750px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #231f20;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/********************* HEADER *********************/

h1 {
    text-align: center;
    padding: 10% 0 0 0;
    font-weight: 200;
    letter-spacing: .1rem;
}

header p {
    text-align: center;
}

nav {
	background-color: #e1e7ec;
	color: #757575;
	letter-spacing: 1px;
	padding: 5% 1%;
    font-size: 1.5rem;
    margin-top: 5%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 2%;
}

/****************** MAIN ***********************/

h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    color: #58595b;
    background-color: #e1e7ec;
    padding: 4% 2% 1% 2%;
    margin-top: 25%;
    font-weight: 200;
}

article {
    width: 90%;
    margin: auto;
    padding-top: 3%;
}

/******************** DESKTOP ********************/


@media (min-width: 630px) {

    h1 {
        padding: 30% 0 0 0;
    }

    nav {
        padding: 3% 0;
        text-align: center;
    }

    nav ul {
        padding-left: 0;
    }

	nav ul li {
        display: inline;
        font-size: 1rem;
        text-align: center;
    }

    article {
        width: 65%;
    }
}
