@font-face {
	font-family: 'Avenir.ttc';
	src: url('../fonts/Avenir.ttc') format('truetype');
}

/***************** PAGE STARTS ***************/

body {
    font-family: 'Avenir.ttc', sans-serif;
    color: #58585b;
}

#container {
    max-width: 750px;
    display: block;
    margin: auto;
}


/********************* HEADER *********************/

h1 {
    text-align: center;
    padding: 10% 0 5% 0;
}

nav {
	background-color: #e1e7ec;
	color: #757575;
	letter-spacing: 1px;
	padding: 5% 1%;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 2%;
}

nav a {
    text-decoration: none;
    color: #58595b;
}

nav a:hover {
    color: #231f20;
}

/****************** MAIN ***********************/
h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    color: #58595b;
    background-color: #e1e7ec;
    padding: 4% 2% 1% 2%;
    margin-top: 25%;
}

/******************** DESKTOP ********************/
