@font-face {
	font-family: 'Avenir Next.ttc';
	src: url('../fonts/Avenir Next.ttc') format('truetype');
}

body {
    font-family: 'Avenir Next.ttc', sans-serif;
}


#container {
    max-width: 750px;
    display: block;
    margin: auto;
}
